* text=auto

*.cs text eol=lf
*.asmdef text eol=lf
*.asmref text eol=lf
*.json text eol=lf
*.md text eol=lf
*.uxml text eol=lf
*.uss text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.ps1 text eol=crlf
